<!DOCTYPE html>
<html lang="en">
    
<head>
  <title>StartUP</title>
  <link rel="stylesheet" href="base.css">
</head>

<body>
  <!-- Navigation -->
  <div class="topnav">
    <div id="nav-title">
      <h1>StartUP</h1>
    </div>
    <div id="nav-menu">
      <a class="active" href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('about') }}">About</a>
      <a href="{{ url_for('contact') }}">Contact</a>
    </div>
  </div>

  <!-- Page Header -->
  <header style="background-image: url('{{ url_for('static', filename='startup.png') }}')">
    <div class="container">
        <div>
          <div class="site-heading">
            <h1>StartUP</h1>
            <span class="subheading">@Pennsylvania State University</span>
          </div>
        </div>
    </div>
  </header>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div>
        <div>
          <p class="copyright">Copyright &copy; StartUP 2021</p>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>