{% extends "index.html" %}

{% block title %}
<title>StartUP - Contact</title>

<style>
    h1 {
        margin-top: 40px;
        padding-top: 30px;
        text-align: center;
        padding-bottom: 30px;
    }

    .ppl {
        margin: 50px;
        position: relative;
        display: inline-block;
        border: 3px double black;
        padding: 15px;
        padding-top: 30px;
        text-align: center;
        width: 350px;
        height: 400px;
    }

    .info {
        padding-top: 20px;
        text-align: left;
    }

</style>
{% endblock %}

{% block main %}
<main style="padding-top: 80px;">
    <div class="container">
        <div>
            <h1>- Team Members -</h1>
        </div>

        <div class="container" style="text-align: center;">
            <div class="ppl">
                <img src="/static/img/john.jpeg">
                <div class="info">
                    <p>Name: Chao-Yang Fang</p>
                    <p>Major: Computer Science</p>
                    <p>Campus: University Park</p>
                </div>
            </div>
            <div class="ppl">
                <img src="/static/img/michael.jpeg">
                <div class="info">
                    <p>Name: Michael V Grillo</p>
                    <p>Major: Software Engineering</p>
                    <p>Campus: World Campus</p>
                </div>
            </div>
            <div class="ppl">
                <img src="/static/img/salmaan.jpeg">
                <div class="info">
                    <p>Name: Salaan Bhimji</p>
                    <p>Major: Mechanical Engineering</p>
                    <p>Campus: Lehigh Valley</p>
                </div>
            </div>
            <div class="ppl">
                <img src="/static/img/umar.jpeg">
                <div class="info">
                    <p>Name: Umar Farooq</p>
                    <p>Major: Computer Science</p>
                    <p>Campus: University Park</p>
                </div>
            </div>
            <div class="ppl">
                <img src="/static/img/george.jpeg">
                <div class="info">
                    <p>Name: Yuan-Chih Hsieh</p>
                    <p>Major: Computer Science / Meteorology</p>
                    <p>Campus: University Park</p>
                </div>
            </div>
        </div>

        <hr>
    </div>

    <!-- FOOTER -->
    <footer class="container">
        <p style="text-align: center;"> StartUP @Pennsylvania State University &copy;</p>
    </footer>
</main>
{% endblock %}
