{% extends "index.html" %}

{% block title %}
<title>StartUP - Contact</title>

<style>
    h1 {
        margin-top: 40px;
        padding-top: 30px;
        text-align: center;
        padding-bottom: 30px;
    }

    .ppl {
        margin: 30px;
        position: relative;
        display: inline-block;
    }
</style>
{% endblock %}

{% block main %}
<main style="padding-top: 80px;">
    <div class="container">
        <div>
            <h1>- Team Members -</h1>
        </div>

        <div class="container">
            <div class="ppl">
                <img src="/static/img/startup.png">
                <div class="info">
                    <p>name</p>
                    <p>major</p>
                </div>
            </div>
            <div class="ppl">
                <img src="/static/img/startup.png">
                <div class="info">
                    <p>name</p>
                    <p>major</p>
                </div>
            </div>
            <div class="ppl">
                <img src="/static/img/startup.png">
                <div class="info">
                    <p>name</p>
                    <p>major</p>
                </div>
            </div>
            <div class="ppl">
                <img src="/static/img/startup.png">
                <div class="info">
                    <p>name</p>
                    <p>major</p>
                </div>
            </div>
            <div class="ppl">
                <img src="/static/img/startup.png">
                <div class="info">
                    <p>name</p>
                    <p>major</p>
                </div>
            </div>
        </div>

        <hr>
    </div>

    <!-- FOOTER -->
    <footer class="container">
        <p style="text-align: center;"> StartUP @Pennsylvania State University &copy;</p>
    </footer>
</main>
{% endblock %}